/* Print Style Sheet */
@media print {
	body { background:white; font-size:10pt; margin:0 }
	h1, h2, h3, h4, h5, h6 { page-break-after:avoid; page-break-inside:avoid }
	blockquote, table, pre { page-break-inside:avoid }
	ul, ol, dl  { page-break-before:avoid }
	img { page-break-inside:avoid; page-break-after:avoid; }
	.vs-triplelayout .vs-nav .vs-nav-left, .vs-triplelayout .vs-nav .vs-nav-right { display: none; }
}


