<ul>
	<li>
		<h3>v3.1.0-beta</h3><p>It's a pre-release!</p>
<ul>
<li><strong>modal</strong> option support </li>
<li>Better page visibility flow</li>
<li><strong>sounds</strong> option support with conditions ('docVisible', 'docHidden')</li>
<li><strong>titleCount</strong> option support with conditions ('docVisible', 'docHidden')</li>
<li>Now uses Promises for show &amp; close flows with babel-polyfill (this will prevent some bugs)</li>
<li>New theme <strong>nest</strong> (It's first stacked view theme, you should check, it's cool)</li>
<li>and <strong>FINALLY</strong> Web Push Notifications support with Service Workers</li>
</ul>
<p>Development</p>
<ul>
<li>Switched to Qunit &amp; SauceLabs for cross-browser automated tests</li>
<li>Prettier with Standard &lt;3 </li>
</ul>
	</li>
	<li>
		<h3>v3.0.1</h3><ul>
<li>max-width for layouts (mobile)</li>
<li>fix for blurry centered layouts <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/351">#351</a> </li>
<li>better class replacements for setText, setTheme</li>
<li>setTimeout API for on the fly timeout changes</li>
<li>Function supports for animation.open &amp; close properties</li>
<li>Demo added for bounce.js, mo.js, velocity.js usages</li>
</ul>
<p>development </p>
<ul>
<li>switched to ava for tests</li>
</ul>
	</li>
	<li>
		<h3>v3.0.0</h3><ul>
<li>No jQuery dependency</li>
<li>No JS themes, layouts, animations (all CSS now)</li>
<li>New named queue system</li>
<li>2 New theme: mint, sunset</li>
<li>New API methods: stop, resume</li>
<li>New callbacks, onHover, onTemplate</li>
</ul>
	</li>
	<li>
		<h3>v2.4.1</h3><ul>
<li>Performance improvements for progressbar flow (interval is removed, using only css transition for animation)</li>
</ul>
	</li>
	<li>
		<h3>v2.4.0</h3><ul>
<li>Basic inline timeout progress bar added. <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/315">#315</a> </li>
</ul>
	</li>
	<li>
		<h3>v2.3.11</h3><ul>
<li><a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/244">#244</a>, <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/247">#247</a> Timeout with buttons</li>
<li><a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/270">#270</a>, <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/321">#321</a> Support custom ID</li>
<li><a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/316">#316</a> How to disable showing &amp; closing animations; set null.</li>
<li><a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/328">#328</a> <strong>beforeShow</strong> callback added (triggered before animation start). <strong>onShow</strong> is now triggered when noty is ready for dom manipulations</li>
<li><a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/331">#331</a> better close handling</li>
<li><a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/326">#326</a> bower package description is now less than 140 char.</li>
</ul>
	</li>
	<li>
		<h3>v2.3.10</h3>
	</li>
	<li>
		<h3>v2.3.8</h3><ul>
<li>fix for <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/302">#302</a> </li>
</ul>
	</li>
	<li>
		<h3>v2.3.7</h3><ul>
<li><a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/296">#296</a> Fixed creation of modal overlay</li>
<li><a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/292">#292</a> Fix for animate.css clicking issue</li>
</ul>
	</li>
	<li>
		<h3>v2.3.6</h3>
	</li>
	<li>
		<h3>v2.3.5</h3><ul>
<li>fix for <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/242">#242</a> <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/257">#257</a> </li>
</ul>
	</li>
	<li>
		<h3>v2.3.4</h3><p>Fix for <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/238">#238</a> sorry about that, I updated grunt-bump configs.<br />
Pass event object to button click handlers. <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/235">#235</a></p>
	</li>
	<li>
		<h3>v2.3.3</h3><p>Fix for <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/233">#233</a> noty with timeout and close by click for jquery &gt; 1.7.2 work wrong</p>
	</li>
	<li>
		<h3>v2.3.2</h3><p>Build fix</p>
	</li>
	<li>
		<h3>v2.3.1</h3><ul>
<li>Better colors for Relax theme</li>
</ul>
	</li>
	<li>
		<h3>v2.3.0</h3><ul>
<li>New theme: Relax</li>
<li>Animate.css support for animations</li>
</ul>
<p>Documentation will be added soon. <a href="https://github.com/needim/noty/blob/master/demo/usingWithAnimate.css.html">Demo is here</a>.</p>
	</li>
	<li>
		<h3>v2.2.10</h3><p>AMD compability <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/73">#73</a></p>
	</li>
	<li>
		<h3>v2.2.9</h3><ul>
<li>Fix animation glitch with bootstrap theme <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/225">#225</a> </li>
<li>Images are now compressed, 4KB saved for default theme <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/223">#223</a> </li>
<li>Custom theme information added to documentation page <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/218">#218</a></li>
</ul>
	</li>
	<li>
		<h3>v2.2.8</h3><p>Resolved <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/210">#210</a> <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/204">#204</a></p>
	</li>
	<li>
		<h3>v2.2.7</h3><p>Resolved <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/221">#221</a> <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/216">#216</a> </p>
	</li>
	<li>
		<h3>v2.2.6</h3><ul>
<li>Twitter Bootstrap theme built with list-group component <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/211">#211</a></li>
</ul>
	</li>
	<li>
		<h3>v2.2.4</h3><ul>
<li>Remove event handler aliases (click(), resize(), bind()) and use the on() method instead.</li>
<li>bower.json file will allow devs to load in noty via bower.</li>
<li>Refactored event handlers by removing aliases. Using the on() method instead.</li>
<li>Added a grunt task for version bumping on build.</li>
</ul>
	</li>
	<li>
		<h3>v2.2.2</h3><ul>
<li>Fixes <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/181">#181</a> usign modal option with custom css theme</li>
</ul>
	</li>
	<li>
		<h3>v2.2.1</h3><ul>
<li>Fix for <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/173">#173</a> </li>
</ul>
	</li>
	<li>
		<h3>v2.2.0</h3><ul>
<li>noty is not forcing you to include theme.js now. If your theme-name doesn't have a equal theme.js; noty will use your theme-name as a css className. Related issues <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/54">#54</a> <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/60">#60</a> <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/162">#162</a> </li>
<li>Packaged and minified versions now available (generated with grunt) <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/166">#166</a> </li>
<li>noty v1.0.x options not supported anymore.</li>
</ul>
	</li>
	<li>
		<h3>v2.1.4</h3><p>Option for close all notifications before show: killer: true (default: false)<br />
Issue <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/49">#49</a> </p>
	</li>
	<li>
		<h3>v2.1.3</h3><p>Fix for <a class="imp issue" target="_blank" href="https://github.com/needim/noty/issues/163">#163</a> - Multiple custom selectors on one page issue</p>
	</li>
	<li>
		<h3>v2.1.2</h3><ul>
<li>Added: jQuery manifest file</li>
</ul>
	</li>
	<li>
		<h3>v2.1.1</h3><ul>
<li>Buttons have (user-specifiable) IDs</li>
</ul>
	</li>
	<li>
		<h3>v2.1.0</h3><p>v2.1.0</p>
	</li>
</ul>