
.icon-picture:before { content: '\e869'; } /* '' */
.icon-paper-plane-1:before { content: '\e8dc'; } /* '' */
.icon-info:before { content: '\e86b'; } /* '' */
.icon-home:before { content: '\e8e3'; } /* '' */
.icon-link:before { content: '\e86c'; } /* '' */
.icon-attach:before { content: '\e86d'; } /* '' */
.icon-pin:before { content: '\e86e'; } /* '' */
.icon-tag:before { content: '\e86f'; } /* '' */
.icon-tag-empty:before { content: '\e870'; } /* '' */
.icon-quote-left:before { content: '\e871'; } /* '' */
.icon-quote-right:before { content: '\e872'; } /* '' */
.icon-pencil:before { content: '\e873'; } /* '' */
.icon-pencil-neg:before { content: '\e874'; } /* '' */
.icon-comment:before { content: '\e875'; } /* '' */
.icon-comment-inv:before { content: '\e876'; } /* '' */
.icon-comment-alt:before { content: '\e877'; } /* '' */
.icon-comment-inv-alt:before { content: '\e878'; } /* '' */
.icon-comment-alt2:before { content: '\e879'; } /* '' */
.icon-comment-inv-alt2:before { content: '\e87a'; } /* '' */
.icon-chat:before { content: '\e87b'; } /* '' */
.icon-chat-inv:before { content: '\e87c'; } /* '' */
.icon-location:before { content: '\e87d'; } /* '' */
.icon-location-inv:before { content: '\e87e'; } /* '' */
.icon-location-alt:before { content: '\e87f'; } /* '' */
.icon-compass:before { content: '\e880'; } /* '' */
.icon-doc:before { content: '\e881'; } /* '' */
.icon-doc-inv:before { content: '\e882'; } /* '' */
.icon-doc-alt:before { content: '\e883'; } /* '' */
.icon-doc-inv-alt:before { content: '\e884'; } /* '' */
.icon-book-open:before { content: '\e885'; } /* '' */
.icon-cog:before { content: '\e886'; } /* '' */
.icon-share:before { content: '\e887'; } /* '' */
.icon-mic:before { content: '\e888'; } /* '' */
.icon-headphones:before { content: '\e889'; } /* '' */
.icon-clock:before { content: '\e88a'; } /* '' */
.icon-lamp:before { content: '\e88b'; } /* '' */
.icon-resize-full:before { content: '\e88c'; } /* '' */
.icon-resize-full-alt:before { content: '\e88d'; } /* '' */
.icon-resize-small:before { content: '\e88e'; } /* '' */
.icon-resize-small-alt:before { content: '\e88f'; } /* '' */
.icon-play:before { content: '\e890'; } /* '' */
.icon-play-circle2:before { content: '\e891'; } /* '' */
.icon-stop:before { content: '\e892'; } /* '' */
.icon-pause:before { content: '\e893'; } /* '' */
.icon-award:before { content: '\e894'; } /* '' */
.icon-award-empty:before { content: '\e895'; } /* '' */
.icon-mobile:before { content: '\e896'; } /* '' */
.icon-cd:before { content: '\e897'; } /* '' */
.icon-equalizer:before { content: '\e898'; } /* '' */
.icon-aperture:before { content: '\e899'; } /* '' */
.icon-aperture-alt:before { content: '\e89a'; } /* '' */
.icon-book:before { content: '\e89b'; } /* '' */
.icon-book-alt:before { content: '\e89c'; } /* '' */
.icon-brush:before { content: '\e89d'; } /* '' */
.icon-brush-alt:before { content: '\e89e'; } /* '' */
.icon-layers:before { content: '\e89f'; } /* '' */
.icon-layers-alt:before { content: '\e8a0'; } /* '' */
.icon-flash:before { content: '\e8a1'; } /* '' */
.icon-chart-bar:before { content: '\e8a2'; } /* '' */
.icon-chart-pie:before { content: '\e8a3'; } /* '' */
.icon-key:before { content: '\e8a4'; } /* '' */
.icon-key-inv:before { content: '\e8a5'; } /* '' */
.icon-hash:before { content: '\e8a6'; } /* '' */
.icon-at:before { content: '\e8a7'; } /* '' */
.icon-pilcrow:before { content: '\e8a8'; } /* '' */
.icon-doc-1:before { content: '\e8aa'; } /* '' */
.icon-article-alt:before { content: '\e8a9'; } /* '' */
.icon-volume-off:before { content: '\e8dd'; } /* '' */
.icon-volume-down:before { content: '\e8de'; } /* '' */
.icon-volume-up:before { content: '\e8df'; } /* '' */
.icon-award-1:before { content: '\e8ab'; } /* '' */
.icon-tablet:before { content: '\e8ac'; } /* '' */
.icon-cd-1:before { content: '\e8ad'; } /* '' */
.icon-book-1:before { content: '\e8ae'; } /* '' */
.icon-easel:before { content: '\e8af'; } /* '' */
.icon-globe:before { content: '\e8b0'; } /* '' */
.icon-dollar:before { content: '\e8b1'; } /* '' */
.icon-camera-1:before { content: '\e8b3'; } /* '' */
.icon-home-1:before { content: '\e8e4'; } /* '' */
.icon-left-open:before { content: '\e8e1'; } /* '' */
.icon-right-open:before { content: '\e8e2'; } /* '' */
.icon-trophy:before { content: '\e8b4'; } /* '' */
.icon-flash-1:before { content: '\e8b5'; } /* '' */
.icon-cloud:before { content: '\e8b2'; } /* '' */
.icon-paper-plane:before { content: '\e8b6'; } /* '' */
.icon-fontsize:before { content: '\e8b7'; } /* '' */
.icon-color-adjust:before { content: '\e8b8'; } /* '' */
.icon-vector-pencil:before { content: '\e8b9'; } /* '' */
.icon-spread:before { content: '\e8ba'; } /* '' */
.icon-art-gallery:before { content: '\e8bb'; } /* '' */
.icon-bicycle:before { content: '\e8bc'; } /* '' */
.icon-cafe:before { content: '\e8bd'; } /* '' */
.icon-college:before { content: '\e8be'; } /* '' */
.icon-embassy:before { content: '\e8bf'; } /* '' */
.icon-fast-food:before { content: '\e8c0'; } /* '' */
.icon-duckduckgo:before { content: '\e866'; } /* '' */
.icon-aim:before { content: '\e865'; } /* '' */
.icon-delicious:before { content: '\e818'; } /* '' */
.icon-paypal:before { content: '\e864'; } /* '' */
.icon-flattr:before { content: '\e863'; } /* '' */
.icon-android:before { content: '\e862'; } /* '' */
.icon-eventful:before { content: '\e861'; } /* '' */
.icon-smashmag:before { content: '\e860'; } /* '' */
.icon-gplus:before { content: '\e803'; } /* '' */
.icon-wikipedia:before { content: '\e85f'; } /* '' */
.icon-lanyrd:before { content: '\e85e'; } /* '' */
.icon-calendar:before { content: '\e85d'; } /* '' */
.icon-stumbleupon:before { content: '\e855'; } /* '' */
.icon-fivehundredpx:before { content: '\e856'; } /* '' */
.icon-pinterest:before { content: '\e804'; } /* '' */
.icon-bitcoin:before { content: '\e857'; } /* '' */
.icon-w3c:before { content: '\e858'; } /* '' */
.icon-foursquare:before { content: '\e80e'; } /* '' */
.icon-html5:before { content: '\e859'; } /* '' */
.icon-ie:before { content: '\e85a'; } /* '' */
.icon-camera:before { content: '\e86a'; } /* '' */
.icon-grooveshark:before { content: '\e819'; } /* '' */
.icon-ninetyninedesigns:before { content: '\e85c'; } /* '' */
.icon-forrst:before { content: '\e80d'; } /* '' */
.icon-digg:before { content: '\e807'; } /* '' */
.icon-spotify:before { content: '\e854'; } /* '' */
.icon-reddit:before { content: '\e853'; } /* '' */
.icon-guest:before { content: '\e852'; } /* '' */
.icon-gowalla:before { content: '\e851'; } /* '' */
.icon-appstore:before { content: '\e850'; } /* '' */
.icon-blogger:before { content: '\e80f'; } /* '' */
.icon-cc:before { content: '\e84f'; } /* '' */
.icon-dribbble:before { content: '\e806'; } /* '' */
.icon-evernote:before { content: '\e84e'; } /* '' */
.icon-flickr:before { content: '\e810'; } /* '' */
.icon-google:before { content: '\e84d'; } /* '' */
.icon-viadeo:before { content: '\e846'; } /* '' */
.icon-instapaper:before { content: '\e847'; } /* '' */
.icon-weibo:before { content: '\e811'; } /* '' */
.icon-klout:before { content: '\e84a'; } /* '' */
.icon-linkedin:before { content: '\e802'; } /* '' */
.icon-meetup:before { content: '\e848'; } /* '' */
.icon-vk:before { content: '\e849'; } /* '' */
.icon-plancast:before { content: '\e84b'; } /* '' */
.icon-disqus:before { content: '\e84c'; } /* '' */
.icon-rss:before { content: '\e80b'; } /* '' */
.icon-skype:before { content: '\e812'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-youtube:before { content: '\e813'; } /* '' */
.icon-vimeo:before { content: '\e80c'; } /* '' */
.icon-windows:before { content: '\e845'; } /* '' */
.icon-xing:before { content: '\e809'; } /* '' */
.icon-yahoo:before { content: '\e844'; } /* '' */
.icon-chrome:before { content: '\e843'; } /* '' */
.icon-email:before { content: '\e842'; } /* '' */
.icon-macstore:before { content: '\e841'; } /* '' */
.icon-myspace:before { content: '\e840'; } /* '' */
.icon-podcast:before { content: '\e83f'; } /* '' */
.icon-amazon:before { content: '\e83e'; } /* '' */
.icon-steam:before { content: '\e83d'; } /* '' */
.icon-cloudapp:before { content: '\e83c'; } /* '' */
.icon-dropbox:before { content: '\e83b'; } /* '' */
.icon-ebay:before { content: '\e83a'; } /* '' */
.icon-facebook:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e839'; } /* '' */
.icon-github-circled:before { content: '\e805'; } /* '' */
.icon-googleplay:before { content: '\e838'; } /* '' */
.icon-itunes:before { content: '\e837'; } /* '' */
.icon-plurk:before { content: '\e836'; } /* '' */
.icon-songkick:before { content: '\e835'; } /* '' */
.icon-lastfm:before { content: '\e80a'; } /* '' */
.icon-gmail:before { content: '\e834'; } /* '' */
.icon-pinboard:before { content: '\e833'; } /* '' */
.icon-openid:before { content: '\e832'; } /* '' */
.icon-quora:before { content: '\e831'; } /* '' */
.icon-soundcloud:before { content: '\e814'; } /* '' */
.icon-tumblr:before { content: '\e815'; } /* '' */
.icon-eventasaurus:before { content: '\e830'; } /* '' */
.icon-wordpress:before { content: '\e816'; } /* '' */
.icon-yelp:before { content: '\e82f'; } /* '' */
.icon-intensedebate:before { content: '\e82e'; } /* '' */
.icon-eventbrite:before { content: '\e82d'; } /* '' */
.icon-scribd:before { content: '\e82c'; } /* '' */
.icon-posterous:before { content: '\e82b'; } /* '' */
.icon-stripe:before { content: '\e82a'; } /* '' */
.icon-opentable:before { content: '\e829'; } /* '' */
.icon-cart:before { content: '\e828'; } /* '' */
.icon-print:before { content: '\e827'; } /* '' */
.icon-angellist:before { content: '\e826'; } /* '' */
.icon-instagram:before { content: '\e808'; } /* '' */
.icon-dwolla:before { content: '\e825'; } /* '' */
.icon-appnet:before { content: '\e824'; } /* '' */
.icon-statusnet:before { content: '\e823'; } /* '' */
.icon-acrobat:before { content: '\e821'; } /* '' */
.icon-drupal:before { content: '\e822'; } /* '' */
.icon-buffer:before { content: '\e820'; } /* '' */
.icon-pocket:before { content: '\e81f'; } /* '' */
.icon-bitbucket:before { content: '\e81e'; } /* '' */
.icon-lego:before { content: '\e81d'; } /* '' */
.icon-login:before { content: '\e81c'; } /* '' */
.icon-stackoverflow:before { content: '\e817'; } /* '' */
.icon-hackernews:before { content: '\e81b'; } /* '' */
.icon-lkdto:before { content: '\e81a'; } /* '' */
.icon-jabber:before { content: '\e8c1'; } /* '' */
.icon-picasa:before { content: '\e8e0'; } /* '' */
.icon-instagram-1:before { content: '\e8c2'; } /* '' */
.icon-instagram-filled:before { content: '\e8c3'; } /* '' */
.icon-camera-2:before { content: '\e8c4'; } /* '' */
.icon-home-2:before { content: '\e8e5'; } /* '' */
.icon-phone:before { content: '\e8c5'; } /* '' */
.icon-cog-1:before { content: '\e8c6'; } /* '' */
.icon-lightbulb:before { content: '\e8c7'; } /* '' */
.icon-play-1:before { content: '\e8c8'; } /* '' */
.icon-play-circled:before { content: '\e8cb'; } /* '' */
.icon-play-circled2:before { content: '\e8cc'; } /* '' */
.icon-stop-1:before { content: '\e8ca'; } /* '' */
.icon-stop-circled:before { content: '\e8cd'; } /* '' */
.icon-pause-1:before { content: '\e8c9'; } /* '' */
.icon-pause-circled:before { content: '\e8ce'; } /* '' */
.icon-desktop:before { content: '\e8cf'; } /* '' */
.icon-laptop:before { content: '\e8d0'; } /* '' */
.icon-globe-1:before { content: '\e8d1'; } /* '' */
.icon-leaf:before { content: '\e8d2'; } /* '' */
.icon-qrcode:before { content: '\e8d3'; } /* '' */
.icon-book-2:before { content: '\e8d4'; } /* '' */
.icon-gauge:before { content: '\e8d5'; } /* '' */
.icon-address-book:before { content: '\e8d6'; } /* '' */
.icon-person:before { content: '\e8d7'; } /* '' */
.icon-adult:before { content: '\e8d8'; } /* '' */
.icon-child:before { content: '\e8d9'; } /* '' */
.icon-behance:before { content: '\e868'; } /* '' */
.icon-css:before { content: '\e8da'; } /* '' */
.icon-friendfeed:before { content: '\e867'; } /* '' */
.icon-slideshare:before { content: '\e8db'; } /* '' */
.icon-call:before { content: '\e85b'; } /* '' */